.copyright {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

/*responsive*/
@media screen and (max-width: 480px) {
    .container_card {
        width: 100%;
        justify-content: space-around;

    }

    .logofooter {
        width: 100%;
        margin-right: 5%;
        
    }
   
   
}

@media screen and(max-width: 810px) {
    .container_card {
        width: 100%;
        justify-content: space-around;


    }

    .logofooter {
        width: 50%;
        margin: auto;
        flex-wrap: wrap;

    }

    .title_principal h1 {
        font-size: 25px;
        font-weight: 900px;
        color: #373737;
        font-family: ravie;
        text-align: center;


    }
    .skills-title {
        display: flex;
        margin-left: 5%;
    }
   

}