.topheader{
  width: 100vw;
  height: 90px; 
  padding: 10px 5px;  
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between; 
  background: linear-gradient(#fefefe, #afaaaa);
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  z-index: 100;  
}
