.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background: linear-gradient(#fefefe, #afaaaa);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    
  }

