.proyectos__all{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0px;
    gap: 32px;
    margin: 0 32px 64px 32px;
    margin-bottom: 1rem;
}

.proyectos__seccion{
    margin-top: 13px;        
}