.topnav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
}

.menu {
  width: 100vw;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  list-style: none;
  margin: 1rem;
  padding: 0;
  position: absolute;

}
.menu.active {
  transform: translatex(0);
}

.menu li {
  padding: 0.700rem;
}

.menu a {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  position: relative;
  font-family: 'Poppins-Italic';

}

.menu a::after {
  content: "";
  background-color: var(--secundary-color);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;

  opacity: 0;
  transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.8;
}

.menu a:hover {
  color: var(--primary-color);
}

.open-menu,
.close-menu {
  display: none;
}

.logotype {
  display: flex;
  justify-content: center;
}

/*Responsive*/

@media screen and (max-width:1024px) {

  .menu {    
    width: 300px;
    height: 350px;
    padding: 2rem;
    background-image: url(/Fondo/menu.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #c70f0f85; 
    display: block;
    flex-direction: column; 
    text-align: center;   
    opacity: 0;
    pointer-events:painted;
    
    transition: transform 0.3s;
    

  }

  .menu:hover {
    box-shadow: 1px 1px 30px 5PX #3b040485;
  }


  .menu li {
    padding: 0;

  }

  .menu a {
    color: var(--text-color-inverse);
    font-size: 1.6rem;
    font-weight: 900px;
    font-family: ravie;
    text-align: end;
  }

  .menu__img {
    width: 20px;
  }



  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  

  .close_img {
    display: block  ;
    margin-right: 0;
    margin-left: 250px;
    width: 50px;

  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }

  .menu a::after {
    content: none;
  }

  .menu a:hover,
  .menu a.selected {
    color: var(--secundary-color);
  }
}