.menu{
    display: flex;    
}

.topnav ul li{
    list-style: none;
    padding: 0 15px;
}

.topnav ul li a{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    transition: .5s;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 900;
    font-family: 'Poppins-Italic';
    border-bottom: 3px solid transparent; 
    margin-right: 30px;  
    
}

.topnav ul li a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid #1ed760;

}

.toggle_btn{
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 40px;
    display: none;
       
}


/*Menu responsive*/
.dropdowun__menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 210px;
    border-radius: 10px;
    background: url(/Fondo/menu.jpeg);
    background-repeat: no-repeat;    
    background-size: cover;
    overflow: hidden;
    transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdowun__menu:hover{
    box-shadow: 1px -8px 20px 8PX #0f013185;
}

.dropdowun__menu.open{
    height: 240px;
}
.dropdowun__menu li{
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdowun__menu li a{
    text-decoration: none;
    color: #08070c;
    transition: .5s;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 900;
    font-family: 'Poppins-Bold';
    border-bottom: 3px solid transparent;
}

.dropdowun__menu li a:hover{
    color: #0d0431;
    border-bottom: 3px solid #1ed760;
    

}

@media screen and (max-width: 800px){ 
    .topnav{
        display: none;
    } 
    .toggle_btn{
        display: block;
        padding-right: 28px;
    }

    .dropdowun__menu{
        display: block;
    }
        
}

@media screen and (max-width: 576px){ 
    .dropdowun__menu{
        left: 2rem;
        width: unset;
    }
            
}

